[submodule "lib/libflotilla"]
	path = lib/libflotilla
	url = http://github.com/simulatedsimian/libflotilla
[submodule "lib/Adafruit_CircuitPlayground"]
	path = lib/Adafruit_CircuitPlayground
	url = https://github.com/adafruit/Adafruit_CircuitPlayground
